* {
  padding: 0px;
  box-sizing: border-box;
}

.wrapper-div {
  width: 80%;
  min-height: 100px;
  margin: auto;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  position: relative; /* Set position to relative for overlay */
  flex-basis: calc(33.33% - 20px); /* Three columns with spacing */
  margin: 10px;
  transition: transform 0.3s;
}

.img-div {
  width: 100%;
  height: 400px; /* Set a fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 5px; /* Add some padding for readability */
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align the title to the left */
  align-items: center; /* Center vertically within the overlay */
}

/* Enlarge the image on hover */
.movie-item:hover {
  transform: scale(1.05); /* Scale up to 105% when hovered */
}

/* Styles for medium-sized screens */
@media screen and (max-width: 768px) {
  .movie-item {
    flex-basis: calc(50% - 20px); /* Two columns with spacing */
  }
}

/* Styles for smaller screens */
@media screen and (max-width: 480px) {
  .movie-item {
    flex-basis: calc(100% - 20px); /* Single column with spacing */
  }
}

.nav-div {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  margin-bottom: 10px;
  align-items: center;
}

.logo-div {
  width: 100%;
  padding-left: 2%;
}

.search-div {
  height: 30px; /* Reduce the height */
  margin-right: 10px;
}
